Options -Indexes
RewriteEngine On

# Habilita CORS para todas as respostas
<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
    Header always set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>

# Permite o método OPTIONS nas rotas especificadas
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]

# Redireciona URLs amigáveis para seus respectivos arquivos PHP
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^usuario/register$ usuario.php?action=register [QSA,L]
RewriteRule ^usuario/login$ usuario.php?action=login [QSA,L]
RewriteRule ^conta/pagar$ conta.php?action=pagar [QSA,L]
RewriteRule ^conta/receber$ conta.php?action=receber [QSA,L]
RewriteRule ^cartao/comprar$ cartao_credito.php?action=comprar [QSA,L]
RewriteRule ^relatorio/despesas$ relatorio.php?tipo=despesas_por_categoria [QSA,L]
RewriteRule ^relatorio/saldo$ relatorio.php?tipo=saldo_contas [QSA,L]
RewriteRule ^relatorio/transacoes$ relatorio.php?tipo=transacoes_cartao [QSA,L]
